@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import "tailwindcss";


html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: red;
}

* {
  box-sizing: border-box;
}